.aliveBox {
    --aliveBox-color: 7, 46, 19;
    background:
            linear-gradient(-90deg, rgba(31, 41, 55, 0) 99%, rgb(var(--aliveBox-color)) 100%),
            linear-gradient(90deg, rgba(31, 41, 55, 0) 99%, rgb(var(--aliveBox-color)) 100%),
            linear-gradient(0deg, rgba(31, 41, 55, 0) 75%, rgb(var(--aliveBox-color)) 100%),
            linear-gradient(180deg, rgba(31, 41, 55, 0) 75%, rgb(var(--aliveBox-color)) 100%);
}

.deadBox {
    --deadBox-color: 46, 7, 7;
    background:
            linear-gradient(-90deg, rgba(31, 41, 55, 0) 99%, rgb(var(--deadBox-color)) 100%),
            linear-gradient(90deg, rgba(31, 41, 55, 0) 99%, rgb(var(--deadBox-color)) 100%),
            linear-gradient(0deg, rgba(31, 41, 55, 0) 75%, rgb(var(--deadBox-color)) 100%),
            linear-gradient(180deg, rgba(31, 41, 55, 0) 75%, rgb(var(--deadBox-color)) 100%);
}